---

third_party_code:
  - name: tmux
    version: 2.8
    url: https://github.com/tmux/tmux/releases/download/2.8/tmux-2.8.tar.gz
    compile_cmd:
      ./configure;
      make
    install_cmd:
      make install

  - name: git
    version: 2.20.1
    url: https://github.com/git/git/archive/v2.20.1.tar.gz
    compile_cmd:
      ./configure --prefix=/usr;
      make all
    install_cmd:
      make install

  - name: vim
    version: 8.1.0702
    url: https://github.com/vim/vim/archive/v8.1.0702.tar.gz
    compile_cmd:
      ./configure --prefix=/usr/local
      --enable-multibyte
      --enable-pythoninterp
      --enable-rubyinterp
      --with-ruby-command=/usr/bin/ruby
      --with-features=huge
      --enable-luainterp
      --with-lua-prefix=/usr;
      make
    install_cmd:
      make install

  - name: python
    version: 3.7.2
    url: https://www.python.org/ftp/python/3.7.2/Python-3.7.2.tgz
    compile_cmd:
      ./configure --enable-optimizations;
      make -j8 build_all
    install_cmd:
      make -j8 altinstall

third_party_binary:
  - name: golang
    version: 1.11.4
    url: https://dl.google.com/go/go1.11.4.linux-amd64.tar.gz
